body {
  background-color: #2e3440; /* Nordic color */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background-color: #eceff4; /* Nordic color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="tel"],
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="radio"] {
  margin-right: 5px;
}

button {
  background-color: #4c566a; /* Nordic color */
  color: #eceff4; /* Nordic color */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

button:hover {
  background-color: #5e81ac; /* Nordic color */
}
